<div class="module-block">
  <h2 class="fs-4"{% if include.show_id %} id="{{ include.week.title | slugify }}"{% endif %}>{{ include.week.title }} <span class="week-date">({{ include.week.date | date: "%B %-d" }})</span></h2>
  <div class="module">
    <dl class="week-plan">
      <dt>Topic</dt>
      <dd>{{ include.week.topic }}</dd>
      <dt><a href="https://gtvault-my.sharepoint.com/:f:/g/personal/lschenck3_gatech_edu/IgCHFQ5An_JFQLxSNjc1GLIRAQyf5kEcH0Ut-eyNCYZd9k4?e=yeKaxU">Readings</a></dt>
      <dd>
        {% if include.week.readings[0].type %}
          <ul class="readings-list">
            {% for reading in include.week.readings %}
              <li>
                <span class="reading-type reading-type--{{ reading.type | replace: ' ', '-' }}">{{ reading.type | capitalize }}</span>
                <span class="reading-text">{{ reading.text }}</span>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          {{ include.week.readings }}
        {% endif %}
      </dd>
      <dt>Do After</dt>
      <dd>
        {% for item in include.week.assignments %}
          <a href="{{ item[1] | relative_url }}">{{ item[0] }}</a>{% unless forloop.last %} | {% endunless %}
        {% endfor %}
      </dd>
    </dl>
  </div>
</div>
